.navigation_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: var(--header-nav-height);
  padding-right: 60px;
  padding-left: 60px;
  position: sticky;
  top: var(--header-height);
  width: 100%;
  z-index: 99;
}
.app_logo {
  font-size: 28px;
  font-weight: 600;
}
.navigation_items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.navigation_item_link{
  font-weight: 400;
  color: #606060;
  cursor: pointer;
  padding: 2px 10px;
}
.navigation_item_link.active {
  background-color: var(--shade-color-bg);
}