.orders-container {
  width: 100%;
  margin: 0;
  background-color: #f7f7f7;
  /* background-color: #fff; */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.orders-title {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.orders-subtitle {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.orders-help {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;
}
.order_table_container {
  overflow-x: scroll;
    overflow-y: hidden;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.orders-table thead {
  background-color: #e2e8f0;
}

.orders-table th,
.orders-table td {
  text-align: left;
  padding: 12px 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.orders-table th {
  font-weight: bold;
  color: #333;
}

.orders-table tr:hover {
  background-color: #f1f5f9;
}

.status-button {
  /* background-color: #007bff; */
  background-color: #5ea95e;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}
.status-button:disabled {
  background-color: #007bff;
}

.status-button:hover {
  /* background-color: #0056b3; */
  background-color: #419541;
}
.status-button:disabled:hover {
  background-color: #007bff;
}


/** Screen width less than 600px **/
@media screen and (width<600px) {
  .orders-title {
    font-size: 22px;
  }
}