.form-container {
  /* background-color: #f7f7f7; */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #d0d0d0;
  margin: 0;
  width: 100%;
}

.form-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #007BFF;
}

.form-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  /* background-color: #007BFF; */
  background-color: #5ea95e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  /* background-color: #0056b3; */
  background-color: #419541;
}



/** Screen width less than 600px **/
@media screen and (width<600px) {
  .form-title {
    font-size: 22px;
  }
}
