.product_page {
  padding: 12px 30px;
  margin: 20px 0;
}
.product_page_inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}
.products_container {
  width: 100%;
}
.filter_options {
  display: none;
}
.filter_close_btn {
  color: red;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 4px;
  cursor: pointer;
}
.filter_close_btn:hover {
  background: #e3e3e3;
  border-radius: 50%;
  padding: 1px;
}

/** Screen width below 600px **/
@media screen and (width<600px) {
  .product_page {
    padding: 0;
    margin: 0;
  }
  .product_page_inner {
    padding: 0 12px;
    flex-direction: column;
  }
  .filter_options {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 46px;
    background-color: #fff;
    margin-bottom: 12px;
    z-index: 999;
  }
  .filter_options svg {
    font-size: 19px;
    margin-right: 3px;
  }
  .filter_options a {
    width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
  }
  .filter_options a:hover {
    background-color: #eaeaea;
  }
}