.product_image {
  width: 100%;
  aspect-ratio: 1;
  padding: 12px;
}
.product_name {
  font-size: 20px;
}
.product_price {
  font-size: 18px;
}
.product_size {
  font-size: 16px;
}
.product_name_price_container {
  flex-direction: row;
}
.product_item_footer_buttons {
  justify-content: space-between;
  padding: 2px 16px;
  flex-direction: column;
  gap: 7px;
}
.product_item_footer_buttons button {
  width: 100%;
}

/** Screen width below 1000px **/
@media screen and (width<1000px) {
  .product_name {
    font-size: 18px;
  }
  .product_price {
    font-size: 16px;
  }
  .product_size {
    font-size: 14px;
  }
  .product_name_price_container {
    flex-direction: row;
  }
}

/** Screen width below 750px **/
@media screen and (width<750px) {
  .product_name {
    font-size: 16px;
  }
  .product_price {
    font-size: 14px;
  }
  .product_size {
    font-size: 13px;
  }
  .product_name_price_container {
    flex-direction: row;
  }
}

/** Screen width below 600px **/
@media screen and (width<600px) {
  .product_name {
    font-size: 16px;
  }
  .product_price {
    font-size: 14px;
  }
  .product_size {
    font-size: 12px;
  }
  .product_name_price_container {
    flex-direction: row;
  }
}


/** Screen width below 400px **/
@media screen and (width<400px) {
  .product_name {
    font-size: 14px;
  }
  .product_price {
    font-size: 12px;
  }
  .product_size {
    font-size: 11px;
  }
  .product_item_footer_buttons {
    flex-direction: column;
    gap: 6px;
  }
  .product_item_footer_buttons button {
    width: 100%;
    margin: 0 !important;
  }
}

/** Screen width below 360px **/
@media screen and (width<360px) {
  .product_name {
    font-size: 13px;
  }
  .product_price {
    font-size: 12px;
  }
  .product_size {
    font-size: 11px;
  }
  .product_name_price_container {
    flex-direction: column;
  }
}


/** Screen width below 340px **/
@media screen and (width<340px) {
  .product_name {
    font-size: 13px;
  }
  .product_price {
    font-size: 12px;
  }
  .product_size {
    font-size: 11px;
  }
  .product_item_footer_buttons {
    flex-direction: column;
    gap: 4px;
  }
  .product_name_price_container {
    flex-direction: column;
  }
  .product_item_footer_buttons button {
    font-size: 11px;
    width: 100%;
    margin: 0 !important;
  }
  .product_add_to_cart_icon {
    display: none;
  }
}