@tailwind base;
@tailwind components;
@tailwind utilities;

@fontsource/roboto/300.css;
@fontsource/roboto/400.css;
@fontsource/roboto/500.css;
@fontsource/roboto/700.css;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --header-bg: #2172ED;
  --header-height: 60px;
  --header-nav-height: 80px;

  --button-bg: #3D809C;

  --homepage-bg: #e8f1ff;

  --shade-color-bg: #e6e6e6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}



.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_button {
  background-color: var(--button-bg);
  color: #fff;
  font-size: 13px;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 5px 10px;
}
.page_button_outline {
  color: var(--button-bg);
  background: #fff;
  border: 1px solid var(--button-bg);
  font-size: 13px;
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;
}
.page_button svg {
  font-size: 18px;
  font-weight: 700;
}

.page_body {
  background-color: var(--homepage-bg);
  padding: 20px 0;
  position: absolute;
  /* top: calc(var(--header-height) + var(--header-nav-height)); */
  left: 0;
  width: 100vw;
  min-height: calc(100vh - var(--header-height) - var(--header-nav-height));
}
.align_right {
  display: flex;
  align-items: center;
  justify-content: right;
}