.mobile_navigation {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background: #fff;
  z-index: 999;
}
.mobile_navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.mobile_navigation ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}
.mobile_navigation ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.mobile_navigation ul li:hover {
  background-color: #e1e1e1;
}
.mobile_navigation ul li svg {
  font-size: 20px;
}
.mobile_navigation ul li span {
  font-size: 11px;
}
@media screen and (min-width: 600px) {
  .mobile_navigation {
    display: none;
  }
}